@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  -webkit-overflow-scrolling: touch;
}

html {
  background-image: url("./assets/WheelBG.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a,
u {
  text-decoration: none;
}

@media (max-width: 415px) {
  html {
    background-image: url("./assets/ZodiacWheel.png");
  }
}
