@import url("https://fonts.googleapis.com/css2?family=Libre+Caslon+Display&family=Libre+Caslon+Text:wght@400;700&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  overscroll-behavior: none;
  width: 100vw;
}

.bg-image {
  width: 100%;
  height: 100%;
  background-color: #ffe9be;
  position: absolute;
  z-index: -2;
  display: flex;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.bg-image img {
  flex-shrink: 0;
  min-width: 100%;
  min-height: 100%;
}

@media (max-width: 500px) {
}

* {
  -webkit-overflow-scrolling: touch;
}

button {
  -webkit-border-fit: border !important;
}

body {
}

button:active {
  outline: none;
  border: none;
}

button:focus {
  outline: 0;
}

p {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

a,
u {
  text-decoration: none;
}

::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}

@media (max-width: 500px) {
  html {
    background-image: url("./assets/ZodiacWheel.png");
    background-size: cover;
    background-position: center center;
  }
  .bg-image {
    display: none !important;
  }
}
